# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
Recursos_Prueba JS/Pantallas/Desktop/Home.png
Recursos_Prueba JS/Pantallas/Desktop/Sign in.png
Recursos_Prueba JS/Pantallas/Mobile/Home.png
Recursos_Prueba JS/Pantallas/Mobile/Menu open.png
Recursos_Prueba JS/Pantallas/Mobile/Sign in.png
Recursos_Prueba JS/Tipografi╠üa/Heebo-VariableFont_wght.ttf
Recursos_Prueba JS/Tipografi╠üa/OFL.txt
Recursos_Prueba JS/Tipografi╠üa/README.txt
Recursos_Prueba JS/Tipografi╠üa/static/Heebo-Black.ttf
Recursos_Prueba JS/Tipografi╠üa/static/Heebo-Bold.ttf
Recursos_Prueba JS/Tipografi╠üa/static/Heebo-ExtraBold.ttf
Recursos_Prueba JS/Tipografi╠üa/static/Heebo-ExtraLight.ttf
Recursos_Prueba JS/Tipografi╠üa/static/Heebo-Light.ttf
Recursos_Prueba JS/Tipografi╠üa/static/Heebo-Medium.ttf
Recursos_Prueba JS/Tipografi╠üa/static/Heebo-Regular.ttf
Recursos_Prueba JS/Tipografi╠üa/static/Heebo-SemiBold.ttf
Recursos_Prueba JS/Tipografi╠üa/static/Heebo-Thin.ttf
