@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Heebo", "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    box-sizing: border-box;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 0.75rem;
    font-weight: 700;
  }

  .h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }

  .h4 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
  }

  .max-w-1240 {
    /* Same as the blue parrot picture max size */
    max-width: 1240px;
  }

  @media only screen and (max-width: 640px) {
    .h2 {
      font-size: 1.6rem;
      line-height: 2rem;
    }
  }
}

@font-face {
  font-family: "Heebo";
  src: url("./assets/fonts/Heebo-VariableFont_wght.ttf");
}
